.rst-content {
    .admonition-todo,
    .attention,
    .caution,
    .warning,
    .wy-alert-warning.admonition,
    .wy-alert-warning.danger,
    .wy-alert-warning.error,
    .wy-alert-warning.hint,
    .wy-alert-warning.important,
    .wy-alert-warning.note,
    .wy-alert-warning.seealso,
    .wy-alert-warning.tip {
        background: hsl(5,80,90);

        p.admonition-title {
            background: hsl(5,80,75);

            &::before {
                content: "";

            }
        }
    }

    div[class^=highlight], pre.literal-block {
        border: none;
    }

    div[class^=highlight] {
        background-color: hsl(230, 10, 90);
        box-shadow: .15ex .15ex .15ex hsl(0, 0, 50);
    }

    .admonition {
        box-shadow: .5ex .5ex .5ex hsl(0, 0, 50);
    }

    thead tr {
        background-color: hsl(230, 10, 85);
    }

    span.gray {
        color: gray;
    }
}


.wy-alert.wy-alert-warning {
    background: hsl(5,80,90);
}
