@charset "UTF-8";
.rst-content .admonition-todo,
.rst-content .attention,
.rst-content .caution,
.rst-content .warning,
.rst-content .wy-alert-warning.admonition,
.rst-content .wy-alert-warning.danger,
.rst-content .wy-alert-warning.error,
.rst-content .wy-alert-warning.hint,
.rst-content .wy-alert-warning.important,
.rst-content .wy-alert-warning.note,
.rst-content .wy-alert-warning.seealso,
.rst-content .wy-alert-warning.tip {
  background: #fad5d1;
}

.rst-content .admonition-todo p.admonition-title,
.rst-content .attention p.admonition-title,
.rst-content .caution p.admonition-title,
.rst-content .warning p.admonition-title,
.rst-content .wy-alert-warning.admonition p.admonition-title,
.rst-content .wy-alert-warning.danger p.admonition-title,
.rst-content .wy-alert-warning.error p.admonition-title,
.rst-content .wy-alert-warning.hint p.admonition-title,
.rst-content .wy-alert-warning.important p.admonition-title,
.rst-content .wy-alert-warning.note p.admonition-title,
.rst-content .wy-alert-warning.seealso p.admonition-title,
.rst-content .wy-alert-warning.tip p.admonition-title {
  background: #f2958c;
}

.rst-content .admonition-todo p.admonition-title::before,
.rst-content .attention p.admonition-title::before,
.rst-content .caution p.admonition-title::before,
.rst-content .warning p.admonition-title::before,
.rst-content .wy-alert-warning.admonition p.admonition-title::before,
.rst-content .wy-alert-warning.danger p.admonition-title::before,
.rst-content .wy-alert-warning.error p.admonition-title::before,
.rst-content .wy-alert-warning.hint p.admonition-title::before,
.rst-content .wy-alert-warning.important p.admonition-title::before,
.rst-content .wy-alert-warning.note p.admonition-title::before,
.rst-content .wy-alert-warning.seealso p.admonition-title::before,
.rst-content .wy-alert-warning.tip p.admonition-title::before {
  content: "";
}

.rst-content div[class^=highlight], .rst-content pre.literal-block {
  border: none;
}

.rst-content div[class^=highlight] {
  background-color: #e3e4e8;
  -webkit-box-shadow: 0.15ex 0.15ex 0.15ex gray;
          box-shadow: 0.15ex 0.15ex 0.15ex gray;
}

.rst-content .admonition {
  -webkit-box-shadow: 0.5ex 0.5ex 0.5ex gray;
          box-shadow: 0.5ex 0.5ex 0.5ex gray;
}

.rst-content thead tr {
  background-color: #d5d6dd;
}

.rst-content span.gray {
  color: gray;
}

.wy-alert.wy-alert-warning {
  background: #fad5d1;
}
/*# sourceMappingURL=custom.css.map */